
#careers {
    background-color: royalblue;
    width: 100%;
    height: 200vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#careers h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
